* {
    box-sizing: border-box;
}

#header_img_html {
    width: 70%;
    height: 70%;
}


#header_img {
    width: 80%;
    height: 80%;
}

.option_list_time,
.option_list,
.option_list_status,
.option_list_finish_date {
    font-size: 12px;
}

.option_list_time {
    color: red;
}

.option_list {
    color: blue;
}

.option_list_status {
    color: green;
}

.option_list_finish_date {
    color: rgb(168, 22, 168);
}

table {
    border-collapse: collapse;
    background-color: rgb(200, 226, 255);
}

table,
td,
th {
    border: 3px solid rgb(77, 77, 77);
    text-align: center;
}



header {
    color: rgb(82, 100, 174);
    font-size: 24px;
    font-family: one-title;
}

b {
    color: rgb(255, 140, 140);
    vertical-align: baseline;
    display: inline-block;
    font-family: one-title;
    font-size: 20px;

}

.basic-status {
    color: red;
    /* padding-left: 20px; */
}


#div-search {
    position: relative;
    width: 350px;
    margin: 0 auto;
    /* border: 5px solid rgb(211, 211, 211); */
    /* background-color: #2ecc71; */
}

html,
body {
    /* height: 100%; */
    font-family: one-title;
    font-size: 20px;
    background-color: rgb(255, 243, 228);
    margin: 0 auto;
}

#id-wrapper {
    min-height: 100%;
    position: relative;
    margin: 0 auto;
}

header {
    text-align: center;
    box-sizing: border-box;
}

#id-content {
    padding-bottom: 50px;
}

.dt-buttons {
    left: 1%;
}

#reflection,
#progress,
#cancel,
#list {
    width: 95px;
    height: 80px;
    font-family: one-title;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5PX;
    background: rgb(252, 165, 95);
    color: white;
    display: inline-block;
    border: 2px blue none;
}

#group,
#group_test {
    position: relative;
    margin-bottom: 45px;
}

input[type=text] {
    font-size: 22px;
    padding: 11px 10px 10px 10px;
    display: block;
    width: 340px;
    border: none;
    border-bottom: 1px solid #757575;
    border-radius: 5px;
    border: 2px blue none;
}


input[type=text]:focus {
    outline: none;
    border-bottom: 1px solid #5264AE;
    border-radius: 5px;
}

.label {
    color: #999;
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0.5%;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}



/* active state */
input[type=text]:focus~.label,
input[type=text]:valid~.label {
    top: -31px;
    font-size: 16px;
    color: #5264AE;
}

em {
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    right: 4%;
    top: -31px;
    color: rgb(252, 0, 0);
}

.checkbox-list {
    margin: 0;
    padding: 0;
    list-style: none;

}

.checkbox-list li {
    margin-bottom: 15px;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:checked+label,
[type="checkbox"]:not(:checked)+label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #273869;
    font-size: 15px;
}

[type="checkbox"]:checked+label:before,
[type="checkbox"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #B2D3D9;
    background: #C5E4E9;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 15px;
}

[type="checkbox"]:checked+label:after,
[type="checkbox"]:not(:checked)+label:after {
    content: '';
    background: #273869;
    height: 14px;
    width: 14px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="checkbox"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}



/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 340px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 1s ease all;
    -moz-transition: 1s ease all;
    -webkit-transition: 1s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
input[type=text]:focus~.bar:before,
input[type=text]:focus~.bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input[type=text]:focus~.highlight {
    -webkit-animation: inputHighlighter 0.5s ease;
    -moz-animation: inputHighlighter 0.5s ease;
    animation: inputHighlighter 0.5s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}